<p>Total Shipments sent via Mobile: {{shipments.length}}</p>
<p>Total line items: {{lineItems.length}}</p>

<h5>Count Table</h5>
<table>
    <thead>
        <tr>
            <th>Shipping SKU</th>
            <th>Shipping QTY</th>
        </tr>
    </thead>
    <tbody>
        {{#each countsArr}}
            <tr>
                <td>{{name}}</td>
                <td>{{qty}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h5>Shipment Manifest Table</h5>
<table>
    <thead>
        <tr>
            <th>Order #</th>
            <th>Customer Name</th>
            <th>Customer Email</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
        </tr>
    </thead>
    <tbody>
        

        {{#each lineItems}}
        
        <tr>
            <td>{{orderNumber}}</td>
            <td>{{recipientName}}</td>
            <td>{{customerEmail}}</td>
            <td>{{productName}}</td>
            <td>{{productQty}}</td>
            
            
        </tr>
        
        {{/each}}

    </tbody>
</table>